
whitelist.json

wepif.yml

*.jar

*.schem

*.db

version_history.json

usercache.json

SurvivalWorld_the_end/region

SurvivalWorld_nether/region

SurvivalWorld/region

libraries/

logs/

*.sqlite

plugins/WorldEdit/sessions/



plugins/WorldEdit/.archive-unpack/

plugins/WanderingTrades/lang/en_US.yml

plugins/squaremap/web/

plugins/squaremap/locale/

plugins/squaremap/data/

plugins/ProtocolLib/lastupdate

plugins/Pl-Hide-Pro/secret.key

plugins/Pl-Hide-Pro/config_with_explanations.yml

plugins/Pl-Hide-Pro/config-example.yml

plugins/LuckPerms/translations/

plugins/Essentials/usermap.csv

plugins/Essentials/userdata/

plugins/Essentials/upgrades-done.yml

plugins/CoreProtect/.license

plugins/ChatControlRed/error.log

plugins/ChatControlRed/log.csv

plugins/ChatControlRed/usermap.csv

plugins/ChatControlRed/unused/

plugins/ChatControlRed/mysql.yml

plugins/ChatControlRed/localization/

plugins/ChatControlRed/images/

paper.yml-README.txt

ops.json

disable_prompt_for_java_version

banned-players.json

banned-ips.json

.docker_overwrite

.console_history

SurvivalWorld_the_end/DIM1/

SurvivalWorld_nether/DIM-1/

SurvivalWorld/stats/

SurvivalWorld_the_end/uid.dat

SurvivalWorld_the_end/session.lock

SurvivalWorld_nether/level.dat

SurvivalWorld_nether/level.dat_old

SurvivalWorld_nether/session.lock

SurvivalWorld_nether/uid.dat

SurvivalWorld_the_end/level.dat

SurvivalWorld_the_end/level.dat_old

SurvivalWorld/poi/

SurvivalWorld/playerdata/

SurvivalWorld/generated/

SurvivalWorld/entities/

SurvivalWorld/datapacks/

SurvivalWorld/data/

SurvivalWorld/advancements/

SurvivalWorld/archive.irH6.tar.gz

SurvivalWorld/level.dat

SurvivalWorld/level.dat_old

SurvivalWorld/session.lock

SurvivalWorld/uid.dat

*.log

*.old

*.imported

*.gz
